@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3em 0 1em;
}

p,
ul,
ol {
    margin-bottom: 2em;
    color: #1d1d1d;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

pre,
code,
kbd {
    font-family: monospace, monospace;
    font-size: 1em;
}

@font-face {
    font-family: 'DistantGalaxy';
    src: url('/fonts/DistantGalaxy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}