---
import Header from "../components/Header.astro";
import ProjectsList from "../components/ProjectsList.astro";
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Landing Page</title>
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <Header />
        <h1>About</h1>
        <p>I am a engineer specializing in time series data</p>
        <div class="skill"></div>
        <aside>
            <div class="project-sidebar">
                <h2>Projects</h2>
                <ProjectsList />
            </div>
        </aside>
    </body>
</html>
