---
import Navigation from "./Navigation.astro";
---

<header>
    <a href="."><h1 class="logo">sabrooks</h1></a>
    <Navigation />
</header>
<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin: 0;
        font-weight: 900;
    }
</style>
