---
import Navigation from "./Navigation.astro";
---

<header>
    <a href="."><h1>SABROOKS.com</h1></a>
    <Navigation />
</header>
<style>
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
</style>
