---
---

<nav>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="about" class="blue-button">About</a></li>
    </ul>
</nav>
<style>
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        text-decoration: none;
        transition: 1s;
        flex: 1;
        text-align: center;
        padding: 10px 20px;
    }

    nav a:hover {
        background-color: #d3d3d3;
        color: #f1f1f1;
    }

    nav a:active {
        background-color: #808080;
        color: #f1f1f1;
    }

    .blue-button {
        background-color: blue;
        color: white;
        border: none;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
