---
const { skill, description, image } = Astro.props;
---

<div class="skill-card">
    <img src={image} alt={skill} width="100px" />
    <h3>{skill}</h3>
    <p>{description}</p>
</div>
<style>
    .skill-card {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
    }
    .skill-card h3 {
        margin-top: 0;
    }
</style>
